@use '../../../app/variables' as *;
@use '../../../app/media.css' as *;

.navigationBar{
  display: flex;
  gap: 15px;
  height: 70px;
}
.navTab{
  padding:12px;
  background-color: white;
  border-radius: 10px;
  border: 1.5px solid $primary-color;
  cursor: pointer;
  color: $primary-color;
  margin: 12px 0;
}
.active{
  background-color: $primary-color;
  color: white;
  border: none;
}