body {
    padding: 15px 10px 0 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;


    @media(max-width:600px){
        padding: 20px 0;
    }
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.MainContainer{
    display: flex;
    height: calc(100vh - 80px);
}
.react-resizable {
    position: relative;
}

.react-resizable-handle-e {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
}