body {
    padding: 15px 10px 0 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;


    @media(max-width:600px){
        padding: 20px 0;
    }
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.MainContainer{
    display: flex;
    height: calc(100vh - 80px);
}
.react-resizable {
    position: relative;
}

.react-resizable-handle-e {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
}

.react-resizable-handle {
    width: 10px !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(0deg) !important;
    z-index: 1;
    top: 0 !important;
    transition: background-color 0.4s ease, transform 0.4s ease;
}
.react-resizable-handle:hover {
    background-color: rgba(0, 0, 0, 0.2);
}