body {
    padding: 15px 30px 0 30px;
    font-family: 'Inter', sans-serif;
    margin: 0;

    @media(max-width:600px){
        padding: 20px 0;
    }
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.container {
    display: flex;
}