body {
    padding: 15px 10px 0 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;


    @media(max-width:600px){
        padding: 20px 0;
    }
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.MainContainer{
    display: flex;
    height: calc(100vh - 80px);
}


