body {
    padding: 15px 10px 0 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;

    @media(max-width:600px){
        padding: 20px 0;
    }
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.MainContainer{
    display: flex;
    height: calc(100vh - 80px);
}

.Container{
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
}
