@use '../../app/variables' as *;
@use '../../app/media' as *;

.user_item{
  list-style: none;
  color: $black;
  height: 70px;
  border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  &:hover{
    cursor: pointer;
  }
}
.message{
  overflow: hidden;
  max-width: 90%;
  color: $light-gray;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.mess{
  display: flex;
  flex-shrink: 1;
  min-width: 0;
  max-width: 80%;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  position: relative;
}

.user_list{
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.photo_user {
  border-radius: 50%;
}

.name{
  font-weight: 600;
  flex-wrap: nowrap;
}

.messageInfo{
  position: absolute;
  height: 100%;
  color: $light-gray;
  font-size: 12px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.unread_badge{
  background-color: $primary-color;
  padding: 4px 8px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.textMess{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
}