@use '../../app/variables' as *;
@use '../../app/media' as *;

.user_item{
  list-style: none;
  color: $black;
  height: 70px;
  border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 16px;
}
.message{
  color: $light-gray;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user_list{
  width: 100%;
}

.photo_user {
  border-radius: 50%;
}

.name{
  font-weight: 600;
}