@use '../../app/variables' as *;
@use '../../app/media' as *;

.user_item{
  list-style: none;
  color: $black;
  height: 70px;
  border-bottom: 1px solid $light-gray;
  align-items: center;
  font-size: 16px;
  touch-action: manipulation;
  &:hover{
    cursor: pointer;
  }
  :active{
    background-color: #e8e8e8;
  }

}
.message{
  color: $light-gray;
}
.mess{
  display: flex;
  flex-shrink: 1;
  min-width: 0;;
}
.content{
  width: 100%;
  position: relative;
  display: flex;
  height: 100%;
  padding-left: 5px;
}

.user_list{
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.photo_user {
  border-radius: 50%;
}

.name{
  font-weight: 600;
  flex-wrap: nowrap;
}

.messageInfo{
  position: absolute;
  color: $light-gray;
  font-size: 12px;
  right: 10px;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.unread_badge{
  background-color: $primary-color;
  padding: 4px 8px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.textMess{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
}
.messTextBlock{
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.messAboutUser{
  align-items: center;
  gap: 5px;
  display: flex;
  width: 90%;
}