@use '../../../app/variables' as *;
@use '../../../app/media' as *;

.main {
  display: flex;
  padding-bottom: 10px;
  color: $primary-color;
  justify-content: space-between;
  gap: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 40px;
  @include xs{
    display: none;
  }
}

.name {
  font-size: 24px;
}

.photo_user {
  border-radius: 50%;
}

.searchContainer {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  border: 1.5px solid $light-gray;
  border-radius: 20px;
  overflow: hidden;
  max-height: 50px;
  transition: border-color 0.2s ease;
  @include xs{
    max-width: 100%;
    max-height: 40px;
    border-radius: 15px;
  }
}

.searchContainer:focus-within {
  border: 2px solid $primary-color;
}

.searchInput {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 16px;
  outline: none;
  @include xs{
    font-size: 14px;
  }
}

.searchInput::placeholder {
  color: $light-gray;
}

.searchButton {
  border: none;
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: background 0.2s, color 0.2s;
  background: white;
  color: $light-gray;
}

.searchIcon {
  stroke: currentColor;
  transition: stroke 0.2s ease;
}

.searchContainer:focus-within .searchButton {
  color: $primary-color;
}